* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

header {
  margin: 1rem;
  border: 1px solid #bbb;
  padding: 0.5rem;
  background-color: #483D8B;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  color: #FFFFFF;

}

body {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

header, main, footer {
  max-width: 900px;
  margin: 0 auto;
}

header img {
  width: 150px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 5);
}

h1 {
  font-size: 1rem;
}

h2 {
  margin: 20px;
  text-align: center;
  font-size: 0.8rem;
}

ul {
  margin: 25px;
  padding: 10px;
  line-height: 2em;
  border-top: 1px solid #483D8B;
  border-bottom: 1px solid #483D8B;
}

footer {
  text-align: center;
  border: 1px solid #bbb;
  padding: 0.5rem;
  background-color: #483D8B;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 0.5rem;
}

main li:hover {
  background-color: #C8E7FF; 
  color: #000000;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}
